

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.chu {
    color: black;
  font-size: x-small;
}


.anhlt{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.row2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row2 .text_row2 {
    position: absolute;
    top: 8%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: antiquewhite;
    font-size: x-small;
}

.relative {
    position: relative;
}

@media only screen and (min-width: 992px) {
    body {
        .row2 .text_row2 {
            position: absolute;
            top: 20%;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            color: antiquewhite;
            font: size 200%! important;
        }
    }
}

